@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    transition: padding .5s;

    .nav-container {
        display: flex;
        padding: 40px 0 10px 0;
        width: 95%;
        margin: auto;
        //border-bottom: 1px solid rgba(255,255,255,.5);
        transition: padding .5s, margin .5s, width .5s;

        .logo-box {
            color: white;
            font-family: 'Lato';
            font-size: 20px;
            font-weight: 700;
            display: flex;
            align-items:center;
            transition: font-size .5s;
    
            &:hover {
                span {
                    color: #0076ff;
                }
            }
    
            .logo {
                width: 50px;
                margin-right: 15px;
                transition: width .5s;
            }
    
            span {
                color: white;
                min-width: 250px;
                padding-bottom: 2px;
                transition: color .15s ease-out, min-width .5s;
            }
        }

        @media (max-width: 1200px) {
            .logo-box {         
                span {
                    min-width: 150px;
                }
            }
        }
    
        @media (max-width: 1000px) {
            .logo-box {         
                font-size: 16px;

                .logo {
                    width: 40px;
                }
            }
        }
    
        .nav-pages {
            display: flex;
            margin-left: 12vw;
            transition: margin-left .5s;

            &.social-links {
                margin-left: auto;
            }

            .page-title-container {
                display: flex;

                .page-title {
                    cursor: pointer;
                    position: relative;
                    list-style: none;
                    margin: auto 1.5vw;
                    padding: 10px 0;
                    transform: scale(1);
                    transition: all .3s;
        
                    &:hover {
                        transform: scale(.9);
        
                        a {
                            color: #0076ff;
                        }
    
                        .blogs-dropdown {
                            li {
                                transition: all .2s;
    
                                a {
                                    color: white;
                                }
    
                                &:hover {
                                    a {
                                        color: #0076ff;
                                    }
                                }
                            }
                        }
                    }
        
                    &::after {
                        content: '';
                        z-index: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        transform-origin: right;
                        background-color: #4b8b2a;
                        transform: scaleX(0);
                        transition: transform .3s;
                    }
        
                    &:hover {
                        &::after {
                            transform-origin: left;
                            transform: scaleX(1);
                            transition: transform .3s;
                        }
                    }
        
                    a {         
                        position: relative;
                        z-index: 1;       
                        color: white;
                        font-family: 'Lato';
                        font-size: 17px;
                        font-weight: 900;
                        transition: color .2s ease-in-out, font-size .5s;
                    }
        
                    
                    @media (max-width: 1200px) {
                        a {         
                            font-size: 14px;
                        }
                    }
        
                    @media (max-width: 1000px) {
                        a {         
                            font-size: 12px;
                        }
                    }
        
                    &:hover .blogs-dropdown {
                        display: block;
                        opacity: 1;
                        transform: scaleY(100%);
                        transition: opacity .1s, transform .2s;
                    }
        
                    .blogs-dropdown {
                        position: absolute;
                        display: none;
                        background-color: transparent;
                        margin: 10px 0 0 0;
                        opacity: 0;
                        padding: 25px 0;
                        min-width: 400px;
                        transform: scaleY(95%);
                        transition: opacity .1s, transform .2s;
                        
                        li {
                            padding: 20px 25px;
                            margin: 0;
                            background-color: black;
                            list-style: none;
        
                            &::after {
                                content: none;
                            }
                
                            &:hover {
                                transform: scale(.97);
                                border-radius: 2px;
                            }
                        }
                    }
                }
            }

            .social-container {
                display: flex;

                li {
                    cursor: pointer;
                    position: relative;
                    list-style: none;
                    padding: 0;
                    margin: auto 6px;
                    transform: scale(1);
                    transition: margin .5s;
    
                    &::after {
                        content: none;
                    }
                    
                    a {
                        display: block;
                        max-height: 1.5em;
                    }

                    @media (max-width: 1000px) {
                        a {
                            max-height: 1.1em;
                        }
                    }
    
                    svg {
                        color: white;
                        transition: color .2s, width .5s, height .5s;
                    }
    
                    &:hover svg {
                        color: #0076ff;
                    }
                }

                @media (max-width: 1000px) {
                    li {             
                        svg {
                            width: .7em;
                            height: .7em;
                        }
                    }
                }
            }
            
        }

        @media (max-width: 1200px) {
            .nav-pages {
                display: flex;
                margin-left: 10vw;
            }
        }

        @media (max-width: 1000px) {
            .nav-pages {
                display: flex;
                margin-left: 7vw;
            }
        }
    
        .hamburger {
            cursor: pointer;
            display: none;
    
            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 7px auto;
                border-radius: 15%;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: #101010;
    
                &:nth-child(1) {
                    transform-origin: left;
                }
                &:nth-child(2) {
                    transform-origin: right;
                }
                &:nth-child(3) {
                    transform-origin: left;
                }
            }
    
            .cross {
                display: block;
                position: absolute;
                width: 25px;
                height: 3px;
                margin: 7px auto;
                border-radius: 15%;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: white;
                overflow: hidden;
    
                &:nth-child(4) {
                    transform-origin: right;
                    transform: rotateZ(-45deg) translateX(23px) translateY(-28px) scaleX(0);
                }
                &:nth-child(5) {
                    transform-origin: left;
                    transform: rotateZ(45deg) translateX(-23px) translateY(-28px) scaleX(0);
                }
            }
    
            &.active {
                .bar {
                    &:nth-child(1) {
                        transform: scaleX(0);
                    }
                    &:nth-child(2) {
                        transform: scaleX(0);
                    }
                    &:nth-child(3) {
                        transform: scaleX(0);
                    }
                }
                .cross {
                    transition-delay: .2s;
                    &:nth-child(4) {
                        transform: rotateZ(-45deg) translateX(23px) translateY(-28px) scaleX(1);
                    }
                    &:nth-child(5) {
                        transform: rotateZ(45deg) translateX(-23px) translateY(-28px) scaleX(1);
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .navbar {    
        .nav-container {  
            gap: 0;

            ul {    
                pointer-events: none;
                opacity: 0;
                width: 0;
                overflow: hidden;
            }
        
            .hamburger {    
                display: block;
    
                .bar {
                    background-color: white;
                }
            }
        }
    }
}